body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top:0;
  margin: 0;
 }
 *{box-sizing: border-box;}
 .topnav {
  overflow: hidden;
  background-color: #333;
  height: 10%;
  margin-bottom:0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 225%;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.highlight {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
hr{
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.container{
  padding: 16px;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border:none;
    background: #f1f1f1;
    border-radius: 6px;
}
input:focus{
  background-color: #ddd;
  outline: none;
}
form{
  border: 1px solid #ccc;
  margin-top: 3px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 3px;
  border-radius: 8px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover{
  opacity:1;
}
.imgcontainer {
   text-align: center;
    margin: 24px 0 12px 0;
}

.cancelbtn {
    width: auto;
    padding: 14px 20px;
    background-color: #f44336;
}
img.login {
    width: 40%;
    border-radius: 50%;
}
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
    .submit{
      width: 100%;
    }
  }
  .footer{
    background-color: black;
    margin: 0;
    text-align: center;
    height: 10%;
    color: white;
    font-size: 200%;
  }
