<html>
<head>
  <meta name="viewport" content="width=device-width initial scale 1">
  <link rel="stylesheet" href="C:\Users\alovega\Maintenance-tracker\maintenance\static\style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="topnav" id="myTopnav">
  <a href="#Maintenance" class="app">Admin</a>
  <a href="#logout">Log out</a>
  <a href="back">Home</a>
  <a href="#request" class="highlight">Requests</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon"
    onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div class="table">
  <table>
    <tr>
    <th>Request</th>
    <th>date</th>
    <th>Type</th>
  <th>Description</th>
  <th>decision</th>
</tr>
<tr>
  <td class="td">Request</td>
  <td>04/05/2014</td>
  <td>Maintenance</td>
  <td>Laptop repair</td>
  <td><select class="admin" name="decision">
       <option value="disapprove">disapprove</option>
       <option value="approve">approve</option>
        </select></td>
</tr>
<tr>
  <td>Request</td>
  <td>04/05/2014</td>
  <td>shop repair</td>
  <td>weld in grills</td>
  <td><select class="admin" name="decision">
       <option value="disapprove">disapprove</option>
       <option value="approve">approve</option>
        </select></td>
</tr>
<tr>
  <td>Request</td>
  <td>04/05/2014</td>
  <td>home</td>
  <td>Drainage system</td>
  <td><select class="admin" name="decision">
       <option value="disapprove">disapprove</option>
       <option value="approve">approve</option>
        </select></td>
</tr>
<tr>
  <td>Request</td>
  <td>04/05/2014</td>
  <td>Car</td>
  <td>Maintenance </td>
  <td><select class="admin" name="decision">
       <option value="disapprove">disapprove</option>
       <option value="approve">approve</option>
        </select></td>
</tr>
<tr>
  <td>Request</td>
  <td>04/05/2014</td>
  <td>Class</td>
  <td>Carpentry work</td>
  <td><select class="admin" name="decision">
       <option value="disapprove">disapprove</option>
       <option value="approve">approve</option>
        </select></td>
</tr>
<!-- <tr>
  <td>Repair</td>
  <td>04/05/2014</td>
  <td>pool Maintenance</td>
  <td>repair pool cleaning system</td>
  <td><select class="admin" name="decision">
       <option value="disapprove">disapprove</option>
       <option value="approve">approve</option>
        </select></td>
</tr> -->
</table>
 <button type="button" name="request" style="width:15%">Request</button>
</div>
<div class="footer" style="position:absolute;">
    <footer>@copyright alwakelvin<br>
    </footer>
</div>
</body>
</html>
