<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sign in</title>
<link rel="stylesheet" href="C:\Users\alovega\Maintenance-tracker\maintenance\static\style.css">
</head>
<div>
<form method="post">
  <label for="username">Username</label><br>
  <input name="username" id="username" required><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" id="password" required><br>
  <input type="submit" value="Log In">
</form>
</div>
</html>
