<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="C:\Users\alovega\Maintenance-tracker\maintenance\static\style.css">
</head>
<body>
<form class="login" method="post">
  <div class="imgcontainer">
    <img src="C:\Users\alovega\Maintenance-tracker\maintenance\static\images\login.jpg" alt="Avatar" class="avatar">
  </div>
  <div class="input">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="enter username" required>
  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder=" enter password" required>
  <button type="submit">Login</button>
  <label>
  <input type="checkbox" checked="checked" name="remember">Remember me
</label>
 </div>
 <div class="input" style="background-color:#f1f1f1">
   <button type="cancel" class="cancelbtn">cancel</button>
 </div>
</form>
</body>
</html>
