<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>
</head>
<div>
  <form method="post">
  <label for="First name">Firstname<label><br>
  <input name="firstname" id="firstname" required>
  <label for="lastname">Lastname</label>
  <input name="lastname" id="lastname" required>
  <label for="username">Username</label><br>
  <input name="username" id="username" required><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" id="password" required><br>
  <input type="submit" value="Register">
</form>
</div>
</html>
