<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="C:\Users\alovega\Maintenance-tracker\maintenance\static\style.css">
</head>
<body>
  <form method="post">
  <div class="input">
  <h1>Register</h1>
  <p>please fill this form to create an account</p>
  <hr>
  <label for="First name"><b>First name</b><label><br>
   <input name="name"required>
  <label for="name"><b>Last name</b></label>
   <input name="name" required>
  <label for="username"><b>Username</b></label>
   <input name="username"required>
  <label for="psw"><b>Password</b></label>
   <input type="password" placeholder="Enter password" required><br>
  <label for="psw-repeat"><b>Repeat Password</b></label>
   <input type="password" placeholder="Repeat password" required><br>
  <label>
   <input type="checkbox" checked="checked" name="remember">Remember me
 </label>
 <p>By creating this account it means you
   agree  to our<a href="#">Terms & Privacy</a>.</p>
 <div class="buttons">
   <button type="button" class="cancelbtn">Cancel</button>
   <button type="submit" class="register">Register</button>
 </div>
</div>
</form>
</div>
</body>
</html>
