<html>
<head>
  <meta name="viewport" content="width=device-width initial scale 1">
  <link rel="stylesheet" href="C:\Users\alovega\Maintenance-tracker\maintenance\static\style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="C:\Users\alovega\Maintenance-tracker\maintenance\static\js\nav.js"></script>
  </head>
  <body style="margin-bottom:0;">
    <div class="topnav" id="myTopnav">
  <a href="#Maintenance" class="app">Maintenance</a>
  <a href="#logout">Log out</a>
  <a href="back">Home</a>
  <a href="#request" class="highlight">Requests</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon"
    onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
    <div class="table">
    <table>
      <tr>
      <th>date</th>
      <th>request</th>
      <th>description</th>
      <th>status</th>
    </tr>
      <tr>
        <td>11/11/2018</td>
        <td>Repair</td>
        <td>house roof</td>
        <td>resolved</td>
      </tr>
      <tr>
        <td>11/5/2018</td>
        <td>Repair</td>
        <td>house roof</td>
        <td>working on</td>
      </tr>
      <tr>
        <td>10/6/2018</td>
        <td>Repair</td>
        <td>laptop</td>
        <td>resolved</td>
      </tr>
      <tr>
        <td>2/7/2018</td>
        <td>Maintenance</td>
        <td>car engine</td>
        <td>rejected</td>
      </tr>
    </table>
    <button type="button" name="request" style="width:15%">Request</button>
  </div>
  <div class="footer" style="position:absolute; bottom:0;width:100%;">
    <footer>@copyright alwakelvin<br>
    </footer>
    </div>
    </body>
    </html>
